{% extends "base.twig" %}

{% block content %}
		<div class="row">
			<div class="content-wrapper col-md-8">
					{% for post in posts %}
						{% include ['components/tease-'~post.post_type~'.twig', 'components/tease.twig'] %}
					{% endfor %}

					{% include 'components/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</div><!-- /content-wrapper -->
			{% include "sidebar.twig" %}
	</div>

{% endblock %}


